.hero>img
  border-radius: 50%
.theme-default-content:not(.custom),
.page-nav
  margin-left: 2rem!important
  max-width: 900px!important
::-webkit-scrollbar /*滚动条整体样式*/
  width: 6px
  height: 6px
::-webkit-scrollbar-thumb /*滚动条里面小方块*/
  border-radius: 4px
  background: linear-gradient(rgb(18, 194, 233), rgb(196, 113, 237), rgb(246, 79, 89));
::-webkit-scrollbar-track /*滚动条里面轨道*/
  background: #fff